<div class = "table-responsive">
<table class = 'table table-striped'>
<%= link_to "Back to customers", customers_path %>
<tr>
<th>Customer_id</th>
<th>Product</th>
<th>Price</th>
</tr>
<% @customer_orders.each do |order| %>
    <tr>
    <td> <%= order.customer_id  %> </td>
    <td> <%= order.product %> </td>
    <td> <%= order.price        %> </td>
    </tr>
<% end %>
</table>
</div>

<%= image_tag url_for(@post.cover_photo) %>
<%= link_to @post.cover_photo.image.jpeg,(@post.cover_photo, disposition: "attachment") %>

